body {
    background-color: white;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.parentBox {
    background-color: gray;
    margin: auto;
    width: 50%;
    margin-top: 50px;
    padding: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.parentBox h1 {
    text-align: center;
    color: white;
}

.FistChild {
    border: 2px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FistChild input {
    padding: 10px;
    outline-color: rgb(5, 101, 69);
    ;
}

.inputValue {
    width: 300px;
}

.FistChild input::placeholder {
    opacity: 0.5;
}

.divBox {
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    transition: 0.5s;
}

.divBox:hover {
    background-color: rgb(5, 101, 69);
    color: white;
}

.divBox :first-child {
    flex-basis: 70%;
}

@media screen and (max-width:900px) {
    .parentBox {
        width: 80%;
    }
}